{% extends "layout.html" %}
{% block title %} About Page {% endblock  %}
{% block content %}
<h1>I'm Masoud Mahmoodi</h1>,<h2> an experienced software developer with a passion for Python coding, especially in the Django framework.</h2>
<h3>I have a strong interest and expertise in developing web applications using Python, and I enjoy working with Django due to its versatility and powerful features. Over the years, I have gained valuable experience in building robust and scalable applications, leveraging the Django framework's capabilities. I am continuously learning and exploring new ways to improve my skills and stay up-to-date with the latest trends and best practices in Python development. I am enthusiastic about collaborating on exciting projects and utilizing my expertise in Python and Django to deliver high-quality software solutions</h3>
{% endblock content %}